:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --blue: 50, 190, 210;
  --red: 224, 95, 76;
  --darkred: 93, 35, 32;
  --yellow: 234, 205, 147;
  --green: 173, 229, 185;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  background-color: #000;
  color: #fff;
}

.abort {
  text-decoration: line-through;
}

.blueborder {
  border: 6px solid rgb(var(--blue));
}

.boxshadow {
  box-shadow: 4px 4px 0px rgba(var(--blue), 0.5), -4px -4px 0px rgba(var(--red), 0.5);
}

.darkred {
  color: rgb(var(--darkred));
  text-shadow: 1px 1px 0px rgba(var(--blue), 0.5),-1px -1px 0px rgba(var(--red), 0.5);
}

.red {
  color: rgb(var(--red));
  text-shadow: 1px 1px 0px rgba(var(--blue), 0.5),-1px -1px 0px rgba(var(--red), 0.5);
}

.yellow {
  color: rgb(var(--yellow));
  text-shadow: 1px 1px 0px rgba(var(--blue), 0.5),-1px -1px 0px rgba(var(--red), 0.5);
}
.green {
  color: rgb(var(--green));
  text-shadow: 1px 1px 0px rgba(var(--blue), 0.5),-1px -1px 0px rgba(var(--red), 0.5);
}

.blue {
  color: rgb(var(--blue));
  text-shadow: 1px 1px 0px rgba(var(--blue), 0.5),-1px -1px 0px rgba(var(--red), 0.5);
}

.white {
  color: rgb(var(--white));
  text-shadow: 1px 1px 0px rgba(var(--blue), 0.5),-1px -1px 0px rgba(var(--red), 0.5);
}

.bold {
  font-weight: bold;
}

.textcap {
  text-transform: capitalize;
}

.button {
  padding: 5px 10px;
  margin: 0px 5px;
  font-size: 24px;
  font-weight: bold;
}

.action {
  background: rgb(var(--red));
  color: #fff;
}

.accept {
  background: rgb(var(--green));
  color: #fff;
}

.active {
  background: rgb(var(--blue));
  color: #fff;
}


.itemlistitem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 600px;
  align-items: center;
  margin: 6px 0;
}

.itemlist {
  display: flex;
  flex-direction: column;
}

.short {
  max-width: 25%;
  overflow: hidden;
  max-height: 24px;
}