@font-face { font-family: Rajdhani; src: url('../webfonts/Rajdhani-Medium.ttf'); } 

body {
  font-family: "Rajdhani", sans-serif;
}

.abort {
  text-decoration: line-through;
}

.blueborder{
  border: 4px solid #84ede9;
}

.darkred {
  color: #5D2320;
}

.red {
  color: #E05F4C;
  text-shadow: 2px 2px 1px rgba(224, 95, 76, 0.5);
}

.yellow {
  color: #EACD93;
  text-shadow: 2px 2px 1px rgba(234, 205, 147, 0.5)
}
.green {
  color: #ADE5B9;
  text-shadow: 2px 2px 1px rgba(173, 229, 185, 0.5);
}

.blue {
  color: #84ede9;
  text-shadow: 2px 2px 1px rgba(132, 237, 233, 0.5);
}